APP_ENV=development
APP_TIMEZONE=Asia/Jakarta

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ERP_RMI_SOFULL
DB_USER=root
DB_PASS=root

# CSRF
CSRF_ENFORCE=0

# Photo constraints
ABSENSI_MAX_MB=3
ABSENSI_ALLOWED_TYPES=image/jpeg,image/png
ABSENSI_REQUIRE_GPS=0
ABSENSI_GEOFENCE_CENTER_LAT=
ABSENSI_GEOFENCE_CENTER_LNG=
ABSENSI_GEOFENCE_RADIUS_M=200
